body {
    color: #313131;
    font-family: "open", sans-serif;
    background: aqua;
}


.header{
    background-color: rgba(8, 33, 65, 0.616);
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 200px;
    color: white;
    text-align: center;
}

.tombol{
    background-color: rgb(70, 174, 235);

    position: relative;
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 25px;

    
}

.tombol:hover{
    background-color: rgb(8, 62, 94);
    color: white;
    
}

.base {
    display: flex;

}

h2{
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* gap: 10px 10px; */

    width: 75%;
    margin: 0 6%;

}

aside {
    width: 25%;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 15px 15px;
    min-height: 235px;
    /* width: 25%; */
    /* height: 200px; */
    color : rgb(209, 209, 209);
    border-radius: 25px;
    background-color: rgba(8, 43, 71, 0.822);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: rgb(19, 47, 56);
}

.container {
    padding: 2px 16px;
}

.card-head,
.card-body {
    overflow: hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.card-head {
    margin: 0;
    /* height: 75px; */
}

aside {
    min-height: 100%;
    border: solid 2px #138ed6ea;
    padding: 10px;
    background-color: rgba(173, 183, 187, 0.514);
}

.history-box{
    border: solid 1px #ffffff;
    color: rgb(202, 202, 202);
    margin: 5px 0px;
    padding: 5px 5px;
    line-height: 2rem;
    max-height: 8rem;
    max-width: 20rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    background-color: rgba(11, 41, 61, 0.589);
    
}