body{
    font-family: ubuntu;
    color: #fff;
    background-image: linear-gradient(rgba(31, 126, 189, 0.247),
    rgba(31, 63, 73, 0.945) ), url(asetimg/wallhaven-pk8pzj_1920x1080.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}
.formulir{
    background-color: rgba(23, 47, 78, 0.534);
    width: 500px;
    padding: 40px;
    margin: 1% auto;
    margin-top: 4%;
    border: 2px rgba(0, 105, 243, 0.534) solid;
    border-radius: 20px;

}



.isian{
    width: 30rem;
}

h3{
    text-align: center;
    color: white;
}

h1{
    padding: 2rem;
    background-color: rgba(31, 63, 73, 0.288);
    text-align: center;
    color: white;
}

footer{
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    color: white;
    background-color: rgba(23, 47, 78, 0.534);
    width: 100hv;
    padding-top: 10px ;
    padding-bottom: 20px;
    margin-top: 2%;
    text-align: center;
}

table {
    margin: 0% auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #52b2be;
  }

